.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

*.o
compiler
lexer.cpp
lex.yy.c

parser.cpp
parser.hpp
parser.tab.c
parser.output
parser.tab.h
output